.box {
  display: flex;
  flex-direction: column;
  gap: 7px;
  box-sizing: border-box;
  height: 70vh;
  width: 70vh;
  margin: 0 auto;
}

.navbar {
  display: flex;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.loading {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 100px;
  margin: calc(100vh / 2 - 300px) auto;
}

.block {
  position: relative;
  box-sizing: border-box;
  float: left;
  margin: 0 10px 10px 0;
  width: 12px;
  height: 12px;
  border-radius: 3px;
  background: black;
}

.block:nth-child(4n + 1) {
  animation: wave 2s ease 0s infinite;
}
.block:nth-child(4n + 2) {
  animation: wave 2s ease 0.2s infinite;
}
.block:nth-child(4n + 3) {
  animation: wave 2s ease 0.4s infinite;
}
.block:nth-child(4n + 4) {
  animation: wave 2s ease 0.6s infinite;
  margin-right: 0;
}

@keyframes wave {
  0% {
    top: 0;
    opacity: 1;
  }
  50% {
    top: 30px;
    opacity: 0.2;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}