header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-top: 20px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  gap: 7px;

  box-sizing: border-box;
  height: 70vh;
  width: 70vh;
}

body {
  background-color: white;
  font-family: "Arial", sans-serif;
}

.navbar {
  display: flex;
  width: 100%;
}

button {
  background-color: rgb(100, 111, 238);
  font-size: 1em;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 7px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #4682b4;
}

input {
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 400px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 50px;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  color: rgb(97, 101, 128);
}

#displayArea {
  background-color: rgba(237, 237, 247, 1);
  font-size: 24px;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  overflow-y: auto;
  height: 100%;
}
